$color-black: #000;
$color-gray: #999;
$height-full: 100vh;
$height-half: 50vh;
$height-third: 33vh;
$section-full-height:
    "index-s1";
$section-half-height:
    "index-s3";
$section-third-height:
    "index-s2",
    "index-s4";
$text-shadow-black: 0 2px 5px black;
$text-shadow-gray: 0 1px 3px $color-gray;
$tile-height: 75px;