$color-black: #000;
$color-gray: #999;
$color-dark-gray: #444;
$contact-s1__left-col-bg: "../img/contact-s1-bg.jpg";
$font-header: 'Acme', sans-serif;
$font-menu: 'Mitr', sans-serif;
$height-full: 100vh;
$height-half: 50vh;
$height-third: 33vh;
$icon-hover-opacity: 0.6;
$index-s4__left-col-bg: "../img/at_logo_blanc.png";
$section-full-height:
    "index-s1",
    "privacy-s1",
    "privacy-s2",
    "team-s1";
$section-half-height:
    "contact-s1",
    "contact-s2",
    "index-s3";
$section-third-height:
    "index-s2",
    "index-s4";
$shadow-black: 0 1px 2px #000;
$shadow-box: 0 0 4px #333;
$shadow-gray: 0 1px 2px #aaa;
$spacer-bg-1: "../img/spacer/spacer-bg-1.jpg";
$spacer-bg-2: "../img/spacer/spacer-bg-2.jpg";
$spacer-bg-3: "../img/spacer/spacer-bg-3.jpg";
$spacer-bg-4: "../img/spacer/spacer-bg-4.jpg";
$text-shadow-black: 0 2px 5px black;
$text-shadow-gray: 0 1px 3px $color-dark-gray;
$tile-height: 75px;